/*NAV AND HERO*/
* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-size:16px;
    background-color:#2e2f27;
}

img {
    max-width:100%;
}

header {
    background-color:transparent;
    color:white;
}

nav.main-nav {
    width:100%;
    max-width:1280px;
    display:flex;
    align-items:center;
    margin: 0 auto;
    justify-content: space-between;
}

.main-nav .logo {
    width:200px;
}

.main-nav ul {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-start;
}

.main-nav a {
    display: inline-block;
    padding:2rem;
    color:#f0f1e5;
    size:1.5rem;
    font-family:Tahoma, sans-serif;
    text-decoration:none;
    transition: all 250ms ease;
    font-size:18px;
    text-shadow:0 3px 5px rgba(0,0,0,0.7);
}
.main-nav a:hover {
    color:#E94F37;
    border-radius:10px;
    text-shadow:0 3px 5px rgba(133, 131, 131, 0.7);
}
.logo a:hover {
    background-color:transparent;
}

header {
    background-image: url(../img/hero-amend4.jpg);
    background-size:100%;
    background-position-y:190%;
}

.hero {
    height:75vh;
    background-size:cover;
    background-attachment:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-content {
    border-radius:20px;
    width:40%;
    color:#F6F7EB;
    padding:2rem;
    font-size:70px;
    width:max-content;
}


main {
    max-width:1280px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

/*FOOTER*/
.footer-nav .logo {
    width:200px;
}

.footer-nav {
    width:100%;
    max-width:1280px;
    display:flex;
    align-items:center;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-nav a:hover {
    color:#E94F37;
    border-radius:10px;
    text-shadow:0 3px 5px rgba(133, 131, 131, 0.7);
}

.footer-nav ul {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-start;
}

.footer-nav a {
    display: inline-block;
    padding:2rem;
    color:#f0f1e5;
    size:1.5rem;
    font-family:Tahoma, sans-serif;
    text-decoration:none;
    transition: all 250ms ease;
    font-size:18px;
}

.footer-flex {
    display:flex;
    flex:wrap;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.site-by {
    width:50%;
}

.cart-info {
    width:30%;
    margin-left:15%;
}

footer {
    margin-top:8%;
    height:300px;
    background-color:rgb(102, 102, 102);
}

/*main*/
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:45px;
    padding:3%;
    background:#dc7f79;
    text-align: center;
}

/*Amenities Provided*/
.flexbox {
    display:flex;
    justify-content:space-between;
}


.amenities-content {
    text-align: center;
    background: #6D639C;
    color: #dddddd;
    font-size:30px;
    width:32%;
    border-radius:10px;
}

.amenities-content > p {
    font-size:20px;
    font-family:sans-serif;
    color:#dddddd;
    text-align:left;
    margin-left:20px;
}

.amenities-img {
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

h3 {
    font-family:Arial, Helvetica, sans-serif;
}

/*Expereince*/
.experience-flex {
    display:flex;
    flex:wrap;
    margin-top:5%;
}

.garden-img {
    width:30%;
    border:solid 2px #dc7f79;
}

.garden-head {
    margin-top:0;
    background-color:transparent;
    color:#dc7f79;
}

.garden-text {
    font-size:20px;
    font-family:sans-serif;
    color:#dddddd;
    margin-right:20px;
    margin-left:20px;
}

/*Airship Travel*/
.airship > h2 {
    margin-top:5%;
    width:100%;
}

.airship > p {
    font-size:20px;
    font-family:sans-serif;
    color:#dddddd;
}

.airship-flex {
    display:flex;
    justify-content:space-between;
    margin-top:1%;
    color:#dddddd;

}

.airship-img {
    width:49%;
    padding-bottom:3%;
}

.airship-img > p {
    font-size: 28px;
    font-family:sans-serif;
}

.airship-img2 {
    width:30%;
    padding-bottom:3%;
}

/*Expereince*/
.delivery-flex {
    display:flex;
    flex:wrap;
    margin-top:5%;
}

.delivery-img {
    width:30%;
    height:100%;
    border:solid 2px #dc7f79;
}

.deli-head {
    margin:0;
    background-color:transparent;
    color:#dc7f79;
}

.deli-text {
    font-size:18.5px;
    font-family:sans-serif;
    color:#dddddd;
    margin-right:20px;
    margin-left:20px;
    margin-top:0;
}
