/*NAV AND HERO*/
* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-size:16px;
    background-color:#2e2f27;
}

img {
    max-width:100%;
}

header {
    background-color:transparent;
    color:white;
}

nav.main-nav {
    width:100%;
    max-width:1280px;
    display:flex;
    align-items:center;
    margin: 0 auto;
    justify-content: space-between;
}

.main-nav .logo {
    width:200px;
}

.main-nav ul {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-start;
}

.main-nav a {
    display: inline-block;
    padding:2rem;
    color:#f0f1e5;
    size:1.5rem;
    font-family:Tahoma, sans-serif;
    text-decoration:none;
    transition: all 250ms ease;
    font-size:18px;
    text-shadow:0 3px 5px rgba(0,0,0,0.7);
}
.main-nav a:hover {
    color:#E94F37;
    border-radius:10px;
    text-shadow:0 3px 5px rgba(133, 131, 131, 0.7);
}
.logo a:hover {
    background-color:transparent;
}

header {
    background-image: url(../img/purple.jpg);
    background-size:100%;
    background-position-y:center;
}

.hero {
    height:75vh;
    background-size:cover;
    background-attachment:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-content {
    border-radius:20px;
    width:40%;
    color:#F6F7EB;
    padding:2rem;
    font-size:70px;
    width:max-content;
}


main {
    max-width:1280px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

/*FOOTER*/
.footer-nav .logo {
    width:200px;
}

.footer-nav {
    width:100%;
    max-width:1280px;
    display:flex;
    align-items:center;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-nav a:hover {
    color:#E94F37;
    border-radius:10px;
    text-shadow:0 3px 5px rgba(133, 131, 131, 0.7);
}

.footer-nav ul {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-start;
}

.footer-nav a {
    display: inline-block;
    padding:2rem;
    color:#f0f1e5;
    size:1.5rem;
    font-family:Tahoma, sans-serif;
    text-decoration:none;
    transition: all 250ms ease;
    font-size:18px;
}

.footer-flex {
    display:flex;
    flex:wrap;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.site-by {
    width:50%;
}

.cart-info {
    width:50%;
}

footer {
    margin-top:8%;
    height:300px;
    background-color:rgb(102, 102, 102);
}

/*main*/
.text-primary {
    text-align: center;
    background:#dc7f79;
    padding:3%;
    font-size:35px;
    margin-left:40px;
    margin-right:40px;
}

.flexbox {
    display:flex;
    justify-content:space-between;
}

/*flex boxes css*/
.amenities-img  {
    text-align: center;
    background: #6D639C;
    color: white;
    font-size: 30px;
    width:32%;
}

/*Font size for health care, isolation mode, and restful ease paragraphs*/
.amenities-img > p {
    font-size:20px;
}

.airship {
    background:#dc7f79;
    text-align: center;
    padding: 3%;
    margin-top:5%;
    font-size:35px;
    width:100%;
}

.airship-flex {
    display:flex;
    justify-content:space-around;
    margin-top:3%;
    color:#dddddd;

}

.airship-img {
    width:49%;
    padding-bottom:3%;
}

.airship-img > p {
font-size: 28px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.airship-img2 {
    width:49%;
    padding-bottom:3%;
}